.fact {
  font-size: 17px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 12px;
  padding: 12px 20px;
  letter-spacing: -0.5px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }

  @media (max-width: 600px) {
    padding: 12px 16px;
  }
}

.disputed {
  color: #ef4444;
  font-weight: 600;
}

.source {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;

  &:hover {
    color: #3b82f6;
  }
}

.tag {
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Coiny", sans-serif;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 30px;
}

.voteButtons {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  gap: 8px;

  button {
    border: none;
    background-color: #78716c;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 100px;
    color: inherit;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: #292524;
    }

    &:disabled {
      background-color: #44403c;
    }
  }
}
