.main {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 36px;
  height: calc(100vh - 36px - 56px - 32px);

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.message {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1.4rem;
}

.hidden {
  display: none !important;
}
