.category {
  margin-bottom: 12px;
}

.btn {
  border: none;
  font-family: "coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 0 10px;
  color: inherit;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.3s;
  width: 100%;

  &:hover {
    transform: scale(105%) rotate(+0.8deg);
  }
}

.btnAll {
  margin-bottom: 16px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
}

.btnCategory {
  background-image: none;
}