.header {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 16px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;

  img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }
}

.title {
  font-size: 34px;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  margin-top: 4px;
}

.btn {
  border: none;
  font-family: "coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 24px;
  padding: 16px 26px 14px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.3s;

  &:hover {
    transform: scale(105%) rotate(+0.8deg);
  }
}